$buttonGrey: #5e5e5e;

button {
    height: 2.5rem;
    border: none;
    font-size: 1.3rem;
    border-bottom: 4px solid #ccc;
    margin-top: .5rem;
    margin-left: .5rem;
    cursor: pointer;
    color: $buttonGrey;
}

.pagination {
  margin-top: 10px;
}